* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

#wrapper {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greet {
    font-size: 2.5em;
    padding: 20px 0;
}

.info {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.info .logo {
    width: 15%;
    height: auto;
    display: block;
    border-radius: 50%;
}

.info .data {
    width: 50%;
    margin-left: 40px;
}

.info .data h2 {
    padding: 12px 0;
}

.about {
    width: 50%;
    margin-top: 32px;
}

.education {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 20px;
    width: 50%;
}

.education div {
    border: 2px solid #000;
    padding: 20px 32px;
    border-radius: 12px;
}