<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="(${visitor == null || visitor.equals('')} ? 'This is my CV' : ${visitor} + ', I hope you interested to hire me')"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
    <div id="wrapper">
        <h1 class="greet" th:text="(${visitor == null || visitor.equals('')} ? 'This is my CV' : ${visitor} + ', I hope you interested to hire me')"/>
        <div class="info">
            <img class="logo" th:src="@{/img/logo.jpg}" alt="Logo" />
            <div class="data">
                <h1 class="name"><i class="far fa-id-card"></i> Gagah Pangeran Rosfatiputra</h1>
                <h2><i class='fas fa-birthday-cake'></i> Jakarta, July 29th</h2>
                <h2><i class="fas fa-map-marker-alt"></i> Jl. H. Misan III No. 6 Kukusan, Beji, Depok</h2>
            </div>
        </div>
        <div class="about">
            My name is Gagah Pangeran Rosfatiputra, undergraduate student of Computer Science UI. I don't really like
            programming. My hobbies are breathing and trying to survive in Fasilkom. I hope you enjoy read this.
        </div>
        <div class="education">
            <div>
                <h4>University of Indonesia</h4>
                <h5>2017 - Present</h5>
            </div>
            <div>
                <h4>SMAN 2 Jakarta</h4>
                <h5>2014 - 2017</h5>
            </div>
            <div>
                <h4>SMPN 169 Jakarta</h4>
                <h5>2011 - 2014</h5>
            </div>
            <div>
                <h4>SDN Pegadungan 12 Jakarta</h4>
                <h5>2005 - 2011</h5>
            </div>
        </div>
    </div>
</body>
</html>